---
title: Hexa
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="container">
	<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody class="js-table-body">

    </tbody>
  </table>
  <div>
    <button class="btn js-add-row">Add new Item</button>
  </div>

  <textarea class="js-textarea" name="" id="" cols="30" rows="5"></textarea>
  <div>
    <button class="btn js-json-table">Update table</button>
    <button class="btn js-json-generate">Generate JSON</button>
  </div>
</div>

{% endblock %}
